# Titanic Machine Learning from Disaster

In [4]:
from zipfile import ZipFile
import pandas as pd

---
<h2 style="color:#5386E4">Problem Framing</h2>

---
<h2 style="color:#5386E4">Data Extraction</h2>

In [5]:
DOWNLOAD_ROOT = 'datasets'
def fetch_data(path=DOWNLOAD_ROOT):
    os.makedirs(path, exist_ok=True)
    os.system('kaggle competitions download -c titanic -p ' + path)
    zip_path = os.path.join(path, 'titanic.zip')
    with ZipFile(zip_path, 'r') as zip:
        zip.extractall(path=path)
        print('successfully fetched datasets at ' + os.path.abspath(path))
        
def load_trainset_testset(path=DOWNLOAD_ROOT):
    train_path = os.path.join(path, 'train.csv')
    test_path = os.path.join(path, 'test.csv')
    
    return pd.read_csv(train_path), pd.read_csv(test_path)

In [6]:
fetch_data()
titanic_train, titanic_test = load_trainset_testset()

successfully fetched datasets at /home/fuki/projects/Data-science-portfolio/Notebooks/Supervised/Titanic-classification/datasets

---
<h2 style="color:#5386E4">Exploratory Analysis</h2>

In [8]:
titanic_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

---
<h2 style="color:#5386E4">Data Preparation</h2>

---
<h2 style="color:#5386E4">Shortlisting models</h2>

---
<h2 style="color:#5386E4">Fine-tuning models</h2>

---
<h2 style="color:#5386E4">Solution</h2>